@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  /* Базовый стиль для кастомных input */
  .input[type="number"],
  .input[type="checkbox"] {
    /* Основные переменные для стилей */
    --checkbox-border: #606a6a;
    --checkbox-background: #92969c;
    --number-border: #6f7272;
    --number-background: #ffffff;
    --input-border-radius: 11px;
    --input-height: 20px;
    --input-width: 40px;
    --transition: 0.3s ease;

    -webkit-appearance: none; /* Сброс стилей браузера */
    -moz-appearance: none;

    box-sizing: border-box;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;

    width: var(--input-width);
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border);
    background: var(--input-background);

    transition: background var(--transition), border-color var(--transition);
  }

  /* Стили для checkbox */
  .input[type="checkbox"] {
    --input-border: var(--checkbox-border);
    --input-background: var(--checkbox-background);
  }

  /* Стили для number */
  .input[type="number"] {
    --input-border: var(--number-border);
    --input-background: var(--number-background);
  }
}
