.svg {
  --bg-progress: #92969c;
  --bg-circle: #b3d1d0;

  transform: rotate(-90deg); /* Чтобы начало прогресса было сверху */
  stroke-width: 2vw; /* Общая ширина обводки */
}

.svg circle {
  stroke: var(--bg-circle);
}

.svg .progressCircle {
  stroke: var(--bg-progress);
  transition: stroke-dashoffset 0.5s ease;
}
